* {
    
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #131316;
    color:white;
    padding: 0px;
    margin: 0px;
    
}

h1 {
    margin-left: 0px;
    animation: entrance;
    animation-duration: 3s;
    font-family: 'Kaushan Script', cursive;
    color:#ffc83d;
}

.hcontainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hcontainer h1 {
    margin-left: 30px;
}

.menu {
    display: block;
    margin-top:20px;
    margin-left:50px;
}

.menu a {
    margin:20px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif ;
    font-size: 2.1rem;
    font-weight: 400;
    z-index: 2;
    display: block;
    line-height: 65px;
    opacity:1;
}

.menu a:hover {
    transition: 0.4s ease-in;
    
}

.hamburger {
    width:40px;
    height: 5px;
    background-color:#ffc83d;
    margin: 5px;
    margin-right:15px;
}


.burgermenu {
    width:250px;
    height: 50vh;
    background-color: #131316;
    opacity: 0.5;
    position: absolute;
    margin-left: 180px;
    z-index: 1;
    display: none;
    top: 70px;
}

.burgermenu2 {
    display:none;
}

.main {
    display: block;

}


.image img{
    max-width: 350px;
    margin-top: -50px;
    animation: entrance;
    animation-duration: 1s;
   
}

.hello {
    margin-left:30px;
    margin-top: -50px;
    animation: entrance;
    animation-duration: 1s;
    color:white;
}

.name {
    margin-left:30px;
    animation: entrance;
    animation-duration: 1s;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Mono', monospaces;
}

.element {
    color:#ffc83d;
    font-family: 'Poppins', sans-serif ;
}
.middle h5{
    margin-left: 30px;
    font-weight: 300;
}

.btn {
    margin-left: 30px;
    padding: 8px 20px;
    cursor: pointer;
    border: 3px solid #ffc83d;
    font-size: 25px;
    background-color: #131316;
    color:white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 4px 4px 0 0 #131316,
    6px 6px 0 0 #ffc83d;
    transition-duration: 200ms;
}

.btn:hover {
    box-shadow: 5px 5px  #131316,
    8px 8px 0 0 #ffc83d;
    transform: translate(-2px, -2px);
}

.social {
    margin-left: 30px;
    margin-top: 30px;
}



.about h1 {
    text-align: center;
    margin-top: 90px;
}

.about h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
}

.exp h3, h4{
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    text-align: center;
    
}

.exp img{
    display: block;
    margin: auto;
}

.exp {
    border: 2px solid #ffc83d;
    padding:10px;
    margin:20px;
    border-radius: 40px;
}

.edu h3, h4{
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    text-align: center;
    
}

.edu img{
    display: block;
    margin: auto;
}

.edu {
    border: 2px solid #ffc83d;
    padding:10px;
    margin:20px;
    border-radius: 40px;
}

.tools {
    display: flex;
    justify-content: space-evenly;
}

.tool h1{
    margin-top: 90px;
    text-align: center;
}

.projects h1 {
    margin-top: 90px;
    text-align: center;
}

.projects h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
}

.project {
    border: 2px solid #ffc83d;
    padding:10px;
    margin:15px;
    border-radius: 40px;
}

.project img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.more {
    display :none;
}

.pbtn {
    margin:auto;
    padding: 8px 20px;
    cursor: pointer;
    border: 3px solid #ffc83d;
    font-size: 25px;
    background-color: #131316;
    color:white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 4px 4px 0 0 #131316,
    6px 6px 0 0 #ffc83d;
    transition-duration: 200ms;
}

.pbtn:hover {
    box-shadow: 5px 5px  #131316,
    8px 8px 0 0 #ffc83d;
    transform: translate(-2px, -2px);
}

.probtns {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.morebtn {
    margin: auto;
    padding: 8px 20px;
    cursor: pointer;
    border: 3px solid #ffc83d;
    font-size: 25px;
    background-color: #131316;
    color:white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 4px 4px 0 0 #131316,
    6px 6px 0 0 #ffc83d;
    transition-duration: 200ms;
    margin-top: 30px;
    display: flex;
}

.morebtn:hover {
    box-shadow: 5px 5px  #131316,
    8px 8px 0 0 #ffc83d;
    transform: translate(-2px, -2px);
}

.footer {
    display:flex;
    color:#ffc83d;
    justify-content: center;
}

.footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

hr {
    color:#ffc83d;
    margin-top:30px ;
    background-color: #ffc83d;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    width: 7px;
    background-color: rgb(15, 15, 15);
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #ffc83d;
    border-radius: 4px;
}

@keyframes entrance {
    0% {
        top: 90%;
        opacity: 0;
    }


    100% {
        top: 30%;
        opacity: 1;
    }

}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform:translateX(-100%);
    transition: all 0.5s;
}

.show {
    opacity:1;
    filter:blur(0);
    transform:translateX(0);
}

.btn:nth-child(2){
    transition-delay: 200ms;
}

.pbtn:nth-child(2){
    transition-delay:200ms;
}

.box1:nth-child(2){
    transition-delay: 200ms;
}
.box1:nth-child(3){
    transition-delay: 400ms;
}
.box1:nth-child(4){
    transition-delay: 600ms;
}

.box2:nth-child(2){
    transition-delay: 200ms;
}
.box2:nth-child(3){
    transition-delay: 400ms;
}
.box2:nth-child(4){
    transition-delay: 600ms;
}
.box2:nth-child(5){
    transition-delay: 800ms;
}
.box2:nth-child(6){
    transition-delay: 1000ms;
}

@media only screen and (min-width: 768px) {
    .menu {
        display:flex;
       
    }

    .burgermenu {
    background-color: #131316;
    opacity: 0.5;
    position: absolute;
    margin-left: 180px;
    z-index: 1;
    display: none;
    top: 30px;
    }

    .burgermenu2 {
        display: flex;
    }

    .menu2 {
        display: flex;;
    }

    .menu2 a {
        margin: 50px;
        text-decoration: none;
        color: #ffc83d;
        font-family: 'Poppins', sans-serif ;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 0;
        display: flex;
        margin-top:10px;
    }
    
    .menu a:hover {
        transition: 0.4s ease-in;
        font-weight: 600;
    }
    
    .hcontainer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .main {
        display: flex;
        margin-top:-50px;
    
    }

    .middle {
        margin-top: 150px;
        margin-left: 50px;
    }

    .about {
        margin-top: -100px;
    }

    .hamburger {
        display: none;
    }

    .boxes {
        display:flex;
        justify-content: center;
    }

    .tools {
       display: flex;
       justify-content: space-evenly;
        
    }
    .projectss {
        display:flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;

    }

    .project{
        flex-basis: 30%;
    }
}